<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center"
                :style="{width :playerHealth + '%'}"
                 style="
                    background-color: green;
                    margin: 0;
                    color: white;">
                    {{ playerHealth }} %

                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div class="healthbar text-center"
                    :style="{width : monsterHealth +'%'}"
                    style="
                        background-color: green;
                        margin: 0;
                        color: white;">
                    {{ monsterHealth }} %
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!isRunning">
        <div class="small-12 columns">
            <button id="start-game" @click="startGame">START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-else>
        <div class="small-12 columns">
            <button id="attack" @click="attack">ATTACK</button>
            <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
            <button id="heal" @click="health">HEAL</button>
            <button id="give-up" @click="giveUp">GIVE UP</button>
        </div>
    </section>
    <section class="row log">
        <div class="small-12 columns">
            <ul>
                <li v-for="d in doneList ">
                    {{ d }}
                </li>
            </ul>
        </div>
    </section>
</div>

<script>
    new Vue({
        el : "#app",
        data : {
            isRunning : false,
            monsterHealth : 100,
            playerHealth : 100,
            doneList : []
        },
        methods : {
            startGame : function() {
                this.isRunning = true;
                this.monsterHealth = 100;
                this.playerHealth = 100;
                this.doneList=[];
            },

            getRandomNb : function (min,max) {
                  return Math.floor(Math.random() * (max - min)) + min;
            },

            attack : function() {
                let attackM=this.getRandomNb(5,7);
                let attackP=this.getRandomNb(3,5);
                if(this.checkState(this.monsterHealth,this.playerHealth)){
                    this.monsterHealth -= attackM;
                    this.playerHealth -= attackP;
                    this.doneList.unshift("Igisizimwe Kikuriye kurugero rungana na "+ attackP);
                    this.doneList.unshift("Wewe Uriye Igisizimnwe kurugero rungana na "+ attackM);
                    }
                else{
                    confirm(this.wins(this.monsterHealth,this.playerHealth)); 
                }
            },
            specialAttack : function(){
                let attackM=this.getRandomNb(7,10);
                let attackP=this.getRandomNb(5,7);
                if(this.checkState(this.monsterHealth,this.playerHealth)){
                    this.monsterHealth -= attackM;
                    this.playerHealth -= attackP;
                    this.doneList.unshift("Igisizimwe Kikuriye kurugero rungana na"+ attackP);
                    this.doneList.unshift("Wewe Uriye Igisizimnwe kurugero rungana na"+ attackM);
                }
                else{
                    confirm(this.wins(this.monsterHealth,this.playerHealth));
                }
            },

            health : function() {
                let healthNb = 10;
                let attackM=this.getRandomNb(2,5);
                if(this.playerHealth > 0 && this.playerHealth < 100){
                    if(this.monsterHealth > 0){
                        this.playerHealth += healthNb;
                        this.playerHealth -= attackM
                        this.doneList.unshift("Wewe Urivuye kurugero rungana na"+ healthNb);
                        this.doneList.unshift("Igisizimwe Kikuriye kurugero rungana na"+ attackM);
                    }
                }

            },

            giveUp : function () {
                this.isRunning = false;
            },

            checkState : function(stateMonster, statePlayer) {
                if(stateMonster > 0 && statePlayer > 0){
                    return true
                }
                else if(statePlayer < 0 || stateMonster < 0){
                    return false
                }
            },
            wins : function(stateMonster, statePlayer) {
                 if(stateMonster > 0 && statePlayer < 0){
                    return "The Monster Wins";
                }
                else if(statePlayer < 0 || stateMonster < 0){
                    return "You Win";
                }
            },
        }
    });
</script>
</body>
</html>